<!DOCTYPE html>
<html ondragstart="return false">
  <head>
    <link rel='stylesheet' href='/stylesheets/1PhotoAnmiation/3CircleRotate/style.css' />
  </head>
  <body>

      <%- body%>

  </body>
</html>
