<div id="perspective">
    <div id="wrap">
        <img src="/images/1.jpg" alt="">
        <img src="/images/2.jpg" alt="">
        <img src="/images/3.jpg" alt="">
        <img src="/images/4.jpg" alt="">
        <img src="/images/5.jpg" alt="">
        <img src="/images/6.jpg" alt="">
        <img src="/images/7.jpg" alt="">
        <img src="/images/8.jpg" alt="">
        <img src="/images/9.jpg" alt="">
        <img src="/images/10.jpg" alt="">
        <img src="/images/11.jpg" alt="">
    </div>
</div>


<script src="/javascripts/1PhotoAnimation/3CircleRotate/animation.js"></script>





}</script> -->
<!-- 如何设置3D场景布局
        1.设置场景景深 in #perspective
        2. 给元素设置3D 风格
    旋转整个相册 就是改变相册元素 rotatex() and rotatey()
    过渡需要一个明显的过程

-->
