<!DOCTYPE html>
<html ondragstart="return false">
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
    <%- include('../partials/header') %>
  </header>
  <body>
    Before
    <br>
    <%- body%>
    <br>
    After
  </body>
  <footer>
    <%- include('../partials/footer') %>
  </footer>
</html>
