<!DOCTYPE html>
<html ondragstart="return false">
  <head>
    <link rel='stylesheet' href='/stylesheets/1PhotoAnmiation/4AutoCircleRotate/style.css' />
  </head>
  <body>
      <%- body%>
  </body>
</html>
