body {
    margin: 0;
    background: #000;
    overflow:hidden;
}

#perspective {
    perspective: 800px;
    /* 设置景深 */
}

#wrap {
    position: relative;
    width: 150px;
    height: 150px;
    border: 1px solid red;
    margin: 400px auto;
    transform-style: preserve-3d;
    /* 设置3D场景风格 */
    transform:rotateX(-20deg) rotateY(0deg);
    /* 选择旋转度数 */
}

#wrap img{
    position: absolute;
}
